/* src/components/ProjectCard.module.css */
.card {
  background-color: var(--surface-light);
  border: 1px solid var(--border-light);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
body.dark .card {

  background-color: var(--footer-background); 
  border-color: var(--border-dark);
}
body.dark .card:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.cardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.cardTag {
  background-color: var(--primary-light);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: bold;
}
body.dark .cardTag {
  background-color: var(--primary-dark);
  color: var(--surface-dark);
}

.cardDescription {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  flex-grow: 1; /* Empuja el botón hacia abajo */
}

.cardLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-light);
}
body.dark .cardLink {
  color: var(--primary-dark);
}